$color-primary: rgb(36,27,18);
$color-secondary: rgb(150,145,141);
$color-tertiary: #E8E7E4;
$color-link: #448EB5;
$color-page-bg: #F5F4F3;

$text-nav: rgb(138,138,138);

$nav-underline: rgb(245,245,245);
